#inspecoes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #inspecoes td, #inspecoes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #inspecoes tr:nth-child(even){background-color: #f2f2f2;}
  
  #inspecoes tr:hover {background-color: #ddd;}
  
  #inspecoes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f96332;
    color: white;
  }