#crestas {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#crestas td, #crestas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#crestas tr:nth-child(even){background-color: #f2f2f2;}

#crestas tr:hover {background-color: #ddd;}

#crestas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f96332;
  color: white;
}
